# Replace with your DB credentials!
DATABASE_URL="mysql://user:password@host:port/db-name"

# SMTP Email Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASSWORD="your-app-password"
SMTP_FROM_EMAIL="noreply@yourdomain.com"
SMTP_FROM_NAME="Your App Name"

# Public URL (for email assets/logo)
PUBLIC_URL="https://yourdomain.com"

# Pak Kasir Payment Gateway
PAKASIR_API_KEY="your-api-key"
PAKASIR_PROJECT="tukoo-po"
