node_modules

# Output
.output
.vercel
drizzle/
/.svelte-kit
/build
/static/documents
/static/images/
/static/merchants/
/static/products/
/static/uploads/
/static/profile/
*.ino
# OS
.DS_Store
TEST_*
vitest.config.ts
verif.html
hehe
Thumbs.db
*.sql
# Env
.ipynb
*.ipynb
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

sqlite.db


docs/